.profileWrap {
  padding: 30px;
  background-image: url("../../assets/bgrs/CAM00166.jpg");
  background-position: center;

  margin-bottom: 20px;
}

.socialItem {
  margin-bottom: 15px;
  display: flex;
  &:nth-child(even) {
    justify-content: flex-end;
  }
  .link {
    height: 100%;
    width: 50%;
    text-align: center;
    .btn {
      height: 100%;
      width: 100%;
      border-radius: 20px;
      background-color: azure;
    }
  }
}
.infoItem {
  margin-bottom: 20px;
  .infoName {
    font-weight: bold;
    font-size: 16px;
    color: wheat;
  }
  .infoDescr {
    text-align: right;
    font-size: 16px;
    color: wheat;
  }
}
.status {
  font-size: 18px;
  font-weight: bold;
}
.statusInfo {
  font-size: 16px;
}
.title {
  color: wheat;
}
.submitBtn {
  color: #fff;
  padding: 0 30px;
  background: #1890ff;
  border-color: #1890ff;
  height: 40px;
  text-shadow: 0 -1px 0 rgb(0 0 0 / 12%);
  box-shadow: 0 2px 0 rgb(0 0 0 / 5%);
  border-radius: 7px;

  &:active,
  &:focus {
    outline: 0;
  }
  &:hover {
    background: rgba(24, 144, 255, 0.7);
    transform: transition 0.4s all;
  }
}
