.Friends {
    color: white;
    display: flex;
    flex-direction: column;
    padding-top: 150px;
    text-align: center;
}
.Friends ul {
    display: flex;
    justify-content: space-between;
padding: 20px;
}
.Friends ul li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Friends ul li:before{
    content: '';
    display: block;
    width: 40px;
    height: 40px;
    background-color: brown;
    border-radius: 100%;
}