.header {
    grid-area: h;
    padding: 5px 20px;
    display: flex;
    justify-content: space-between;
    background-color: green;
}
.header img {
    width: 20px;
}
.header a{
    color: whitesmoke
}
.loginContentWrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color:wheat
}
.loginContentWrapper img{
    height: 60px;
    border-radius: 100%;
}